
.inbox{
    /* background-color: rgb(255, 255, 255); */
    min-height:100px;
    margin-top: 15px;
    text-align: center;
}
.inbox1{
    background-color: rgb(255, 255, 255);
    min-height:350px;
    margin:20px;
   padding:20px;
}
.inbox2{
    background-color: rgb(255, 255, 255);
    min-height:350px;
    text-align: center;
}
.sec{
    background-color: rgb(255, 255, 255);
}
.eq{
    background-color:  rgba(12, 72, 184, 0.76);
    border-radius: 5px;
    color: aliceblue;
    padding:10px ;
    margin-top:15px;
    display: inline-block;
    width: 230px;
    box-shadow: 5px 5px 5px black;
    transition: 1s;
    text-decoration: none;
}



.rm{
    background-color:rgba(12, 72, 184, 0.76);
    border-radius: 6px;
    color: aliceblue;
    padding: 10px;
    margin-top:5px;
    display: inline-block;
    transition: 1s;
    
}
.rm:hover{
    text-decoration: none;
}
.inbox4{
    /* background-color: aqua; */
    min-height: 50PX;
    margin-top:20px;
}
.sec1{
    background-color:rgba(12, 72, 184, 0.76);;
}
.pq{
    background-color: aliceblue;
    padding: 10px;
    border-radius:50%;
    color:rgba(12, 72, 184, 0.76);

}
.jk{
    color: aliceblue;
}
.inbox5{
    /* background-color: aqua; */
    text-align: center;
    margin-top: 15px;
}
.inbox3{
    color: aliceblue;
    text-align: center;
}
.jm{
   min-height: 200px;
  
}
/* .JIN{
   background-color: blue;
   padding: 50px;
} */

.inbox6{
    margin-top: 15px;
    background-color: rgb(255, 255, 255);
    min-height: 200px;
}

.inbox7{
    background-color:rgba(12, 72, 184, 0.76);
    min-height: 200px;
    color: aliceblue;
    text-align: center;
    margin-top: 15px;
   padding-top: 80px;
   text-transform: capitalize;  
   font-size:30px;  
   
}

.sec2{
    background-color: rgb(250, 253, 255);
}
.inbox8{
    background-color: rgb(255, 255, 255);
    text-align: center;
    /* margin:10px; */
}
 .line{
    background-color:rgba(2, 42, 116, 0.76);
    min-height: 2px;
    max-width: 100px;
    margin: auto;
    margin-top: -5px;
  
} 

.inbox9{
    background-color: rgb(242, 248, 248);
    min-height:400px;
    text-align: center;
    padding: 20px;
    border: 1px solid rgb(235, 233, 233);
    margin: 5PX;
}

.gm{
    background-color:rgba(12, 72, 184, 0.76);
    color: aliceblue;
    padding: 10px;
    margin-top: 10px;
    display:inline-block;
    border-radius: 10px 0px 0px 10px ;
    font-size: 30px;
  
}
.gn{
    background-color: rgb(173, 212, 115);
    color: aliceblue;
    padding: 10px;
    margin-top: 10px;
    display:inline-block;
    border-radius: 0px 10px 10px 0px ;
    font-size: 30px;
  
}

.inbox10{
    background-color: rgb(255, 255, 255);
    min-height: 50px;
    text-align: center;
    /* margin-top: 15px; */
    margin: 25px;
}

.an{
    background-color:rgba(12, 72, 184, 0.76);
    color: white;
    padding: 10px;
    border-radius:3px;
    transition: 1s;
    text-decoration: none;

}

.inbox11{
    background-color: rgb(255, 255, 255);
    min-height: 200px;
    padding: 15px;
}
 .sce{
    background-color: rgb(255, 255, 255);
 }

 
 .inbox13{
    /* background-color:  rgb(28, 89, 143); */
    min-height: 130px;
    margin: 15px 0px;
    padding:10px;
 }
 .inbox14{
    /* background-color: rgb(37, 122, 196);  */
    color: aliceblue;
    min-height: 100px;
    margin:15px 0px;
    padding: 10px;
 }
 .tea{
    color: aliceblue;
 }
.inbox15{
    /* background-color:rgba(12, 72, 184, 0.76); */
   min-height:360px;
   margin:35px;
   color: aliceblue;
}
.inbox16{
        /* background-color: aliceblue; */
        min-height: 30px;
        margin:15px 0px;
}
.inbox17{
    /* background-color: aliceblue; */
    min-height:80px;
    margin:15px 0px;
}
.inbox18{
    /* background-color: aliceblue; */
    min-height:50px;
    margin:15px 0px;
}
.dq{
    width: 100%;
}
.v{
    width: 100%;
    min-height: 80px;
}
.n{
    width: 100%;
    
}
.sec8{
    background-color:rgba(12, 72, 184, 0.76);
}
.inbox19{
    /* background-color:rgba(12, 72, 184, 0.76); */
    min-height: 450px;
    color: rgb(255, 255, 255);
    text-align:center;
    padding:190px;
    
}
.cookie{
    background-color:rgba(23, 73, 164, 0.76);
    background-image: url(wl.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-blend-mode:soft-light;

}

.m{
    text-decoration: none;
}

.about{
    color:rgb(252, 252, 252);
    font-weight: 500;
    font-size: 15px;
    text-align:center;
    margin: 15px;
    display: inline-block;
    text-decoration: none;
}

.navbar{
    background-color:rgba(12, 72, 184, 0.76) ;
    
}
.navbar-brand{
    color: rgb(255, 255, 255);
}

@media(max-width:468px){
    .inbox19{
        padding: 180px 0px 0px 0px;
    }
}


.ar{
    color: rgb(255, 255, 255);
}





